<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd">
    
	<!-- <bean id="triangle" class="org.vinay.learnspring.Triangle6"
		autowire="byName">
	</bean> -->
	
	<context:annotation-config />   <!-- Shortcut for defining all beanPostProcessors at once  -->
	
	<context:component-scan base-package="org.vinay.learnspring" />  <!-- to scan for components and for services also -->
	
	<bean id="pointA" class="org.vinay.learnspring.Point">  
		<!-- <qualifier value="CircleRelated"></qualifier> -->
		<property name="X" value="0" /> 
		<property name="Y" value="0" />
	</bean>
	<bean id="pointB" class="org.vinay.learnspring.Point">
		<property name="X" value="-20" />
		<property name="Y" value="0" />
	</bean>
	<bean id="pointC" class="org.vinay.learnspring.Point">
		
		<property name="X" value="20" />
		<property name="Y" value="0" />
	</bean>
	
	<!-- <bean id="circle" class="org.vinay.learnspring.Circle">
		
	</bean>  this is equivalent to @Component -->
	
	<!-- <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"></bean> -->
	<!--  <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"></bean> -->
	
</beans>